.dash-page {
    background-color: var(--background);
    display: flex;
    flex-direction: column;
}
.dash-title {
    padding-left: 3%;
}
.application-display {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.application-info {
    display: flex;
    flex-direction: column;
}
.mapped-applications {
    list-style-type: none;
}
.company-name {
    flex-direction: column;
}
.position {
    flex-direction: column;
}
.status {
    flex-direction: column;
}
.application-instance {
    display: flex;
    flex-direction: row;
}
.application-status {
    display: flex;
    flex-direction: row;
    gap: 5%;
}
.stage {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 12%;
    gap: 10%;

}
.application-info {
    display: flex;
    flex-direction: column;
    flex: 1 2 0;
    max-width: 30%;
}
.fuckyou{
    height: 100px;
    margin-top: 50px;
    border-width: 3px;
}
.box{
    background-color: #e5dcd0;
    border-radius: 10px;
}